@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient( #454545 18.59%, #343434 100%);
}

.selected{
  background-color: #F0B90B;
}

.backgroundImageLoad{
  top: 10%;
  left: 25%;
}
.backgroundImageLoad::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.05; /* Adjust opacity here */
  z-index: -1;
  background: rgba(0, 0, 0, .25) url('../../public/transparent-background.png');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader-container{
  width: 100%;
  --c:no-repeat linear-gradient(orange 0 0);
  background: 
    var(--c),var(--c),var(--c),
    var(--c),var(--c),var(--c),
    var(--c),var(--c),var(--c);
  background-size: 16px 16px;
  animation: 
    l32-1 1s infinite,
    l32-2 1s infinite;
  @keyframes l32-1 {
    0%,100% {width:45px;height: 45px}
    35%,65% {width:65px;height: 65px}
  }
  @keyframes l32-2 {
    0%,40%  {background-position: 0 0,0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,  50% 50% }
    60%,100%{background-position: 0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,0 0,  50% 50% }
  }
}